{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="text-center my-3">S'inscrire</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-9 text-center">
                    {{ form_start(registrationForm) }}
                    <div class="m-3">
                        {{ form_row(registrationForm.nickname) }}
                    </div>
                    <div class="m-3">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    <button class="btn btn-outline-primary btn-lg" type="submit">Valider</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>

        </div>
    </div>


{% endblock %}
