{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center m-4">Modifie ton ingredient</h1>
    {{ include('component/_form.html.twig') }}
    <div class="text-center">
        <a href="{{ path('all_ingredient') }}"><i class="fas fa-undo fs-1 text-success"></i></a>
    </div>
{% endblock %}