{% extends 'base.html.twig' %}
{% block body %}
<div class="col-12 text-center">
    <div class="container">
        <h1 class="m-4">Mes ingrédients</h1>
        <div class="row justify-content-center my-3">
            <div class="col-12 col-sm-9 col-lg-6">
                <ul class="list-group">
                    {% for ingredient in ingredients %}
                        <li class="list-group-item fs-4 d-flex justify-content-between align-items-center bg-dark text-light border border-light">
                            {{ ingredient.name }}
                            <span class="text-end">
                                <a href="{{ path('edit_ingredient', {id: ingredient.id}) }}"><i class="far fa-edit text-success fs-2 mx-2 mx-lg-4"></i></a>
                                <a href="{{ path('delete_ingredient', {id: ingredient.id}) }}"><i class="fas fa-trash text-success fs-2 mx-2 mx-lg-4"></i></a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <a href="{{ path('new_ingredient') }}">
        <button class="btn btn-outline-success btn-lg" type="button">Ajouter un ingredient</button>
    </a>
</div>

{% endblock %}
