{% extends 'base.html.twig' %}
{% block body %}

<ul>
    {% for ingredient in ingredients %}
            <li>
                {{ ingredient.name }}
                <a href="{{ path('edit_ingredient', {id: ingredient.id}) }}"><i class="far fa-edit mx-2"></i></a>
                <a href="{{ path('delete_ingredient', {id: ingredient.id}) }}"><i class="fas fa-trash mx-2"></i></a>
            </li>
    {% endfor %}
</ul>
    <a href="{{ path('new_ingredient') }}">
        ajouter un ingredient
    </a>
{% endblock %}
