{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1 class="text-center m-5">Mon aide de cuisine</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    <div class="justify-content-center">
        <form action="{{ path('login') }}" method="post">
            <div class="justify-content-center">
                <div class="text-center my-3">
                    <label for="username">Pseudo:</label>
                </div>
                <div class="text-center">
                    <input class="text-center border rounded-3 shadow-lg" type="text" id="username" name="_username"/>
                </div>
            </div>

            <div class="justify-content-center">
                <div class="text-center my-3">
                    <label for="password">Mot de passe:</label>
                </div>
                <div class="text-center">
                    <input class="text-center border rounded-3 shadow-lg" type="password" id="password" name="_password"/>
                </div>
            </div>

            <div class="text-center my-4">
                <button class="btn btn-outline-primary btn-lg" type="submit">se connecter</button>
            </div>
        </form>
    </div>

        <div class="text-center my-5">
            <a href="{{ path('app_register') }}">
                <button type="button" class="btn btn-outline-secondary">S'inscrire</button>
            </a>
        </div>
    </div>

{% endblock %}
