{% extends 'base.html.twig' %}
{% block body %}
        <h1 class="text-center">Modifie ta Miamlist</h1>

        {{ include('component/_form.html.twig') }}

        <div class="m-3 text-center">
            <a href="{{ path('miamlist_index') }}"><i class="fas fa-undo fs-1"></i></a>
        </div>


{% endblock %}
