{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-12 text-center">
        <div class="container">
            <h1 class="m-4">Miamlist {{ miamlist.name }}</h1>
            <div class="row justify-content-center">
                <div class="col-9 m-3">
                    {% for miamlist in miamlist.menu %}
                            {% for ingredient in miamlist.ingredients %}
                    <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label fs-2" for="flexSwitchCheckDefault">{{ ingredient.name }}</label>
                    </div>
                        {% endfor %}
                        {% endfor %}
                </div>
            </div>
            <div class="m-3">
                <a href="{{ path('miamlist_index') }}"><i class="fas fa-undo fs-1 text-success"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
