{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifie ton menu</h1>
    {{ include('component/_form.html.twig') }}
    <div class="m-3">
        <a href="{{ path('menu_index') }}"><i class="fas fa-undo fs-1"></i></a>
    </div>
{% endblock %}
