{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-12 text-center">
        <div class="container">
            <h1 class="m-4">Menu</h1>
            <div class="row justify-content-center">
                <div class="col-9 m-3">
                    <h2>{{ menu.name }}</h2>
                    <p class="fs-3">{{ menu.description }}</p>
                    <ul class="list-group m-3">
                        {% for menu in menu.ingredients %}
                        <li class="list-group-item  bg-dark text-light  border rounded-pill">
                            {{ menu.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="m-3">
                <a href="{{ path('menu_index') }}"><i class="fas fa-undo fs-1 text-success"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
