{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

    <div class="col-12 text-center">
        <div class="container">
            <h1>Menu</h1>
            <div class="row justify-content-center">
                <div class="col-9 m-3">
                    <h2>{{ menu.name }}</h2>
                    <p>{{ menu.description }}</p>
                    <ul class="list-group">
                        {% for menu in menu.ingredients %}
                        <li class="list-group-item">
                            {{ menu.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="m-3">
                <a href="{{ path('menu_index') }}"><i class="fas fa-undo fs-1"></i></a>
            </div>
        </div>
    </div>


{% endblock %}
